@import "vars";
@import "global";
@import "global";
@import "fonts";
//! START
//! END
//! start Header
.header {
  background-color: #000;
}
.header__containerfluid {
  position: relative;
  min-height: 900px;
}
.inner__menu {
  background: rgba(0, 0, 0, 0.75);
  height: 900px;
  width: 410px;
  position: absolute;
  left: -236px;
  padding-top: 250px;
  transition: 1s;
  &.active {
    left: 0px;
  }
}
.inner__menu-wrapper {
  margin-left: 200px;
}
// .header__logo {
//   position: absolute;
//   z-index: 3;
// }
.content__wrapper {
  position: relative;
  height: 80px;
}
.top__icons {
  width: 100%;
  position: absolute;
  top: 50px;
  display: block;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.inner__menu-btn {
  display: none;
  position: absolute;
  bottom: -70px;
  left: 5%;
  div {
    height: 3px;
    width: 40px;
    background: $white;
    & + div {
      margin-top: 10px;
    }
  }
}
.logo {
  display: block;
  margin: 0 20px 0 0;
}
.logo__img {
  display: block;
  width: 160px;
  height: 80px;
}

.basket {
  display: block;
  height: 52px;
  width: 60px;
}

.menu__list {
  margin-right: 30px;
  margin-bottom: 90px;
}
.menu__item {
  & + .menu__item {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
}
.menu__link {
  display: block;
  @include sfp-m;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  padding: 0 40px 20px 30px;
  padding-top: 25px;

  &:hover,
  &:focus {
    color: $orange;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -5px;
    height: 2px;
    transition: transform 0.8s ease-in-out;
    transform: scaleX(0);
    background-color: $orange;
    transform-origin: left;
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.contacts {
  margin-left: 30px;
  font-size: 16px;
  line-height: 18px;
}
.contact__adress {
  margin-bottom: 30px;
}
.contact__phone {
  letter-spacing: 0em;
}
.contact__phone-tel1 {
  margin-bottom: 10px;
}
.contact__phone-tel2,
.contact__phone-tel1 {
  transition: all 0.5s;
  &:hover,
  &:focus {
    color: $orange;
  }
}

.bunnypizza__img {
  position: absolute;
  top: 20%;
  right: 100px;
  width: 84px;
  height: 485px;
}
//!section-catalog
.inner {
  padding-top: 130px;
  padding-bottom: 140px;
}
.page__section {
  background: #000;
}

.catalog__title {
  margin-bottom: 30px;
}
//*filter

.filter__btn {
  margin-bottom: 40px;
  background: transparent;
  color: $white;
  padding: 10px 30px;
  border: 1px solid $orange;
  border-radius: 10px;
  font-size: 18px;
  line-height: 24px;
  &.filter__btn {
    margin-left: 20px;

    &:focus,
    &:hover {
      background: rgba(215, 122, 14, 0.6);
      box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.4);
    }
  }
  &.active {
    background: $orange;
    color: $black;
    border: none;
    &:hover {
      background: $orange;
      color: $black;
      border: none;
    }
  }
}
.catalog__containerfluid {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 260px;
    height: 260px;
  }
  &:before {
    top: 220px;
    left: 0;
    background: center/cover no-repeat
      url(../images/decoration/myata-catalog.png);
  }
  &:after {
    bottom: 55px;
    right: 10px;
    height: 211px;
    background: center/cover no-repeat
      url(../images/decoration/myata-catalog2.png);
  }
}
.title {
  @include sfp-b;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.12em;
}
.catalog__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .catalog__item {
    margin-right: 30px;
    margin-bottom: 20px;
  }
}
.item {
  width: 220px;
  min-height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid transparent;
  &:hover {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }
  .item__img {
    margin: 0 auto;
    margin-bottom: 8px;
    display: block;
    width: 150px;
    height: 150px;
  }
  .item__link {
    display: block;
  }
  .item__title {
    @include sfp-b;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 7px;
  }
  .item__weight {
    @include sfp-b;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 7px;
  }
  .item__text {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 7px;
  }
  .item__top {
    padding: 0 15px;
    margin-top: 10px;
  }
  .item__bot {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  .item__count-remove,
  .item__count-add {
    height: 20px;
    width: 20px;
  }
  .item__count-numbr {
    font-size: 20px;
    line-height: 24px;
    margin: 0 4px;
  }
  .item__price {
    color: $orange;
    @include sfp-b;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 2px;
  }
  .item__basket {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background: url(../images/icon/basket-item.svg);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}
//!catalog-section END
//!Delivery-section
.delivery {
  margin-top: -2px;
}
.delivery__containerfluid {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 260px;
    height: 260px;
  }
  &:before {
    top: 220px;
    left: 0;
    background: center/cover no-repeat
      url(../images/decoration/delivery_mints.png);
  }
  &:after {
    bottom: 70px;
    right: 250px;
    width: 310px;
    height: 232px;
    background: center/cover no-repeat
      url(../images/decoration/deliver_tomato.png);
  }
}
.delivery__inner {
  min-height: 900px;
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
  }
  &:before {
    width: 320px;
    height: 560px;
    top: 131px;
    right: 100px;
    background: center/cover no-repeat
      url(../images/decoration/delivery_phone.png);
  }
  &:after {
    display: none;
    top: 250px;
    right: 350px;
    width: 135px;
    height: 85px;
    background: center/cover no-repeat
      url(../images/decoration/delivery_arrow.svg);
  }
}
.delivery__title {
  margin-bottom: 60px;
}
.delivery__box {
  max-width: 455px;
  // margin: 0 auto;
}
.delivery__order-make {
  margin-bottom: 100px;
}
.delivery__order-title {
  @include sfp-reg;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
}
.order__options {
  margin-bottom: 20px;
  padding-left: 40px;

  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 30px;
    height: 30px;
  }
  &-site {
    &::before {
      background: no-repeat url(../images/icon/netround.svg);
    }
  }
  &-app {
    &::before {
      background: no-repeat url(../images/icon/mobile.svg);
    }
  }
  &-phone {
    &::before {
      background: no-repeat url(../images/icon/phone.svg);
    }
  }
  &-courier {
    &::before {
      background: no-repeat url(../images/icon/car.svg);
    }
  }
  &-selftake {
    &::before {
      background: no-repeat url(../images/icon/briefcase.svg);
    }
  }
  &-ontime {
    &::before {
      background: no-repeat url(../images/icon/ontime.svg);
    }
  }
}
.order__title {
  @include sfp-b;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.12em;
  color: $orange;
  margin-bottom: 7px;
}
.order__text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12em;
  color: $white;
}
//!Delivery-section END
//!aboutUs-section
.aboutus {
}
.page__section {
}
.containerfluid {
}
.aboutus__containerfluid {
}
.container {
}
.aboutus__inner.inner {
  padding-bottom: 0;
  max-width: 755px;
}
.aboutus__title {
  margin-bottom: 50px;
}

.aboutus__text {
  @include sfp-reg;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
}
.aboutus__img {
  display: block;
  margin: 0 auto;
  margin-top: 85px;
}
//!aboutus-section END
//!footer-start
.footer {
  .menu__list {
    margin-bottom: 60px;
  }
}
.contacts__title {
  margin-bottom: 55px;
}
.contacts__box {
  display: flex;
  justify-content: flex-between;
}
.contacts__descr {
  padding-top: 60px;
  margin-right: 100px;
}
.contacts__info {
  padding-left: 40px;
  margin-bottom: 20px;
}
.contacts__adress,
.contacts__phone,
.contacts__mail,
.contacts__worktime {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0;
    background: no-repeat url(../images/icon/location.svg);
  }
}
.contacts__info-title {
  @include sfp-b;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.12em;
  color: $orange;
  padding-bottom: 7px;
}
.contacts__info-text {
}
.contacts__phone {
  &::before {
    background: no-repeat url(../images/icon/phone.svg);
  }
}
.contacts__mail {
  &::before {
    background: no-repeat url(../images/icon/mail.svg);
  }
}
.contacts__worktime {
  &::before {
    background: no-repeat url(../images/icon/clock.svg);
  }
}
.map {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    height: 212px;
    width: 260px;
    left: -120px;
    bottom: -90px;
    background: no-repeat url(../images/decoration/contacts__mint.png);
  }
  iframe {
    border-radius: 35px;
  }
}
.footer__bottom {
  text-align: center;
  font-size: 18px;
  padding-bottom: 100px;
}
//! END Footer

@import "media";
